# Build files Unity WebGL (trop volumineux)
Tubadventure-Web/Build/
Tubadventure-Web/StreamingAssets/

# Node/Docker
node_modules/
dist/

# Environnement
.env
.env.local

# IDE
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
